<p id="notice"><%= notice %></p>

<p>
  <strong>Quizid:</strong>
  <%= @add_quizid_to_quesiton.quizid %>
</p>

<%= link_to 'Edit', edit_add_quizid_to_quesiton_path(@add_quizid_to_quesiton) %> |
<%= link_to 'Back', add_quizid_to_quesitons_path %>
